.App {
	background: #0D345E;
	display: grid;
	min-height: 100vh;
	/* grid-template-columns: 50px auto 50px;
	grid-template-rows: [toolbar] 100px [row1] 100vh [row2] 100vh [row3] 100px;
	grid-template-areas: "toolbar toolbar toolbar"
	". title ."
	". about ."
	"footer footer footer"
	; */

	/* background: red; */
}

.toolbar {
	grid-area: toolbar;
	/* background: #022A5B; */
	background: #073974;
}

.title-card {
	grid-area: title;

	text-align: center;
}

.title-card .scroll {
	background: pink;
	height: 90px;
	width: 30px;
}

.about {
	grid-area: about;
	background: green;
}

.footer {
	grid-area: footer;
	background: blue;
}
